body {
    background-color: #0C090D;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.catsdetail {
    &.card  {
        border: none;

        img {
            object-fit: cover !important;
            //object-position: center !important;
            background-color: grey;
        }

        .title {
            font-size: 24px;
        }

        .image-bg {
            background-size: cover;
            //background-position: center;
            background-repeat: no-repeat;
            height: 80vh;

            @media only screen and (max-width: 576px) {
                background-position: center
            }
        }

        .detail-bg {
            background-color: #EDD3C4;
            height: 100vh;

            @media only screen and (max-width: 991px) {
                height: unset;
            }
        }
    }
}
/* 
// ANIMATIONS
.catsdetail.card {
    -webkit-animation: fadeInAnimation ease 3s;
    animation: fadeInAnimation ease 3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.catsdetail.card .image-bg {
    -webkit-animation: zoomOutAnimation 10s ease-in infinite;
    animation: zoomOutAnimation 10s ease-in infinite;
    transition: all .5s ease-in-out;
}

@keyframes zoomOutAnimation {
    0% {transform: scale(1);}
    50% {transform: scale(0.67);}
    100% {transform: scale(1);}
} */